@use "variables" as v;

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: v.$background;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: v.$fuente-principal;
  font-size: 1.6rem;
  // height: 300rem;
  @include m.tablet {
    &.body-scroll {
      padding-top: 6.3rem;
    }
  }
}

a {
  text-decoration: none;
}

p {
  font-size: 2rem;
}
h1,
h2,
h3 {
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3rem;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

* {
  scroll-behavior: smooth;
}
.contenedor {
  // width: 95%;
  // max-width: 120rem;
  width: min(90%, 120rem);
  margin: 0 auto;
}

/** Utilidades **/
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.centrar-texto {
  text-align: center;
}

.m-t {
  margin-top: 5rem;
}
