//tipografia
$fuente-principal: "Roboto", sans-serif;
$fuente-secundaria: "Montserrat", sans-serif;

//colores
$background: #0d1b2a;
$color-primario: #0466c8 ;
$negro: #000000;
$blanco: #fff;
$gris: #e4e4ea;

//tecnologias
$html: #e34f26;
$css3: #1572b6;
$javascript: #f7df1e;
$bootstrap: #563d7c;
$react: #61dafb;
$figma: #f24e1e;
$github: #f05032;
$typeScript: #007acc;
$gulp: #da4648;
$sass: #cc6699;

//Redes
$email: #0072C5;
$linkedIn:#0A66C2;
$whatsapp: #00A884;


// mediaqueries
$telefono: 480px;
$tablet: 768px;
$desktop: 998px;
$desktopXL: 1200px;
