@use "base/mixins" as m;
@use "base/variables" as v;

.experiencia-titulo {
  color: v.$color-primario;
  margin: 17rem 0 0 0;
  font-size: 5rem;
}
.experiencia-contenedor {
  color: v.$blanco;
  margin-bottom: 8rem;
  @include m.tablet {
    @include m.grid(2, 1rem);
  }
}

.educacion {
  margin-top: 8rem;
  &-bloque {
    margin: 2rem 0;
    padding: 1.2rem;
    border-radius: 1rem;
    h4 {
      float: left;
      margin: 0;
      font-size: 2.2rem;
    }
    span {
      color: #74808a;
      float: right;
    }
    p {
      clear: both;
      color: #74808a;
      margin: 0;
    }
  }
  &-enlace a {
    float: right;
    color: #dcd9d9;
    text-decoration: underline;
  }
}

.experiencia {
  margin: auto;
  a {
    font-size: 2.5rem;
    color: v.$blanco;
    text-decoration: underline;
    float: right;
    margin-right: 2rem;
  }
  &-bloque {
    padding: 1rem;
    border-bottom: 3px solid #dcd9d9;
    margin-bottom: 2rem;
  }
}
