@use "base/mixins" as m;
@use "base/variables" as v;
.hero {
  margin: 10rem 0;
  &-contenido {
    display: grid;
    @include m.tablet {
      @include m.grid(2, 5rem);
      align-items: center;
    }
  }
  &-imagen {
    grid-row: 2/3;
    width: 80%;
    margin: 0 auto;
    @include m.tablet {
      grid-row: inherit;
    }
  }
  &-texto {
    text-align: center;
    color: v.$blanco;
    h2 {
      color: v.$color-primario;
    }
    p {
      color: v.$blanco;
    }
    h2,
    p {
      font-size: 4rem;
    }
    @include m.tablet {
      h2,
      p {
        font-size: 5rem;
      }
    }
    @include m.desktop {
      h2,
      p {
        font-size: 7rem;
      }
    }
  }
}
